*.class
*.jar
*.log

WEB-INF/views/*.html

.settings/
.classpath
.project
.tern-project
.gitignore~
.metadata/

WebContent/*
static/*
/build/
/bin/
/target/
logs/*


bin/
tmp/

src/main/resources/db.private.properties
